* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(5, 5, 49);
}

.container {
    margin-left: 15%;
    margin-top: 100px;
    max-width: 400px;
}
.container h1 {
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(8, 95, 8);
    margin-bottom: 20px;
}
.container h1 span {
    color: rgb(8, 95, 8);
    
}
.display {
    width: 90%;
    display: flex;
    background-color: white;
    border-radius: 5px;
    justify-content: space-between;
    padding: 10px 10px;
    margin-bottom: 20px;
}
.display img {
    height: 30px;
    cursor: pointer;
}
.display input {
    border: none;
    outline: none;
    font-size: 1.2rem;
}
.container button {
    background-color: rgb(8, 95, 8);
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.container button img {
    height: 30px;
    margin-right: 10px;
}


